.miniskeleton {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;

  width: 90%;
  margin: 20px;

  .miniskeleton_heading {
    width: 100%;

    font-weight: bolder;

    padding: 20px;

    border-bottom: 1px solid black;
  }

  .miniskeleton_body {
    width: 100%;
    padding: 20px;
  }
}
