.artwork {
  min-width: 300px;
  height: 400px;
  margin: 10px;
  margin-bottom: 2px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  div {
    display: none;
  }
}

.artwork:hover {
  cursor: pointer;
  div {
    display: flex;
    position: absolute;
    bottom: 0;

    background-image: linear-gradient(to top, whitesmoke, transparent);
    width: 100%;
    padding: 4px;

    justify-content: flex-end;
    height: 60px;
    align-items: flex-end;
  }
}
